streamlit 
langchain
ollama 
python-dotenv 
pypdf 
faiss-cpu 
sentence-transformers
langchain-community
fuzzywuzzy
speechrecognition
pyttsx3
pyaudio
streamlit-authenticator
bcrypt
pyjwt
SpeechRecognition
gTTS
pydub
matplotlib
numpy